html, body, #map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Titillium Web', serif;
}

#info {
  z-index: 1000;
  position: absolute;
  width: 500px;
  top: 1%;
  bottom: 1%;
  left: .5%;
  padding: 40px 15px 900px 15px;
  background: #343a40;
  color: white;

}

@media only screen and (max-width: 1026px) {
  #info {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }

  #info * {
    width: 0;
    height: 0;
    visibility: hidden !important;
  }
}

/* social media icons */
#info a {
  color: lightgray;
}

#info a:hover {
  color: white;
  opacity: 0.3;
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}


#title {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

/* social media icons */
#title span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

#placename {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

#intro {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#data {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#ack{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

#name {
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
}

/* card decks */
#desc {
  text-align: center;
  color: lightgray;
  font-size: medium;
  font-weight: bold;
}

#county-count {
  margin:0;
  text-align: center;
  color: orange;
  font-size: 50px;
}

#county-chart {
  top: 20px;
}

#footer {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 18px;
  line-height: 150%;
  color: lightgray;
}

/* bar chart */
text {
  fill: gray
}

.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.name, .value {
  background-color: black;
  color: black
}

.legend {
    line-height: 20px;
    width: 160px;
    color: #333333;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}
